* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.contain {
    width: 80vw;
    max-width: 1440px;
    margin: 0px auto;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    position: sticky;
    top: 0px;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        padding: 24px;
    }
}