* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
nav {
   background-color: orange;
   display: flex;
   align-items: center;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: green;
    padding: 24px;
    font-size: 29px;
}
nav .logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
.main {
    position: relative;
    background-color: #ED1C24;
    border-radius: 13px;
}
.main a:hover {
    background-color: aliceblue;
}
.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 10px solid #a97c50;
    background-color: #00a651;
    img {
        width: 50%;
        border: 10px solid #F7941D;
        flex: 2;
    }
    h2{
      color: #E2DA8A;  
    }

}
.food {
    flex: 2;
}
.content1 {
    flex: 1;
}
.card a {
    text-decoration: none;
    background-color: black;
    color: #ffff;
}
.footer {
    background-color: black;
    color: #ED1C24;
    text-align: center;
    padding: 1px;
}
h2 {
    font-size: 50px;
}
p {
    font-size: 19px;
}
#hero {
    background-image: url(../images/hero-1.webp);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #000000;
    padding-right: 50px;
    border: 10px solid #ff0000;
    background-position: top center;
    h2 {
        font-size: 70px;
        padding-right: 200px;
    } 
}
.content-2 {
    display: flex;
    grid-template-columns: 1fr;
}
@media screen and (max-width: 768px) {
   
}